    /* font color -> https://colorhunt.co/palette/fed049cffde168b9843d5656 */
    
    

    body{
        background-color: #CFFDE1;
        color: #3D5656;
    }
    h1, h2, h3 {
        color: #3D5656;
    }
    hr{
        
        border-style: none;
        border-top-style: dotted;
        border-color: #3D5656;
        border-width: 5px;
        width: 5%;
    }
    img{
        height: 200px;
        border-radius: 500px;
    }