[submodule "webdev/018_NewsLetter-SignUp"]
	path = webdev/018_NewsLetter-SignUp
	url = https://github.com/Rimcant/F_S_Udemy.git
[submodule "webdev/024_todolist-v2"]
	path = webdev/024_todolist-v2
	url = https://github.com/Rimcant/F_S_Udemy.git
