/* https://colorhunt.co/palette/e3fdfdcbf1f5a6e3e971c9ce*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;

*/

*{
    margin: 0px;
    padding: 0px;


}
body{
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{ 
        /*margin: 0 auto 0 auto ///// top/bottom ->0 //// left right -> auto */
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Sacramento', cursive;
}
h3{
    font-family: 'Sacramento', cursive;
}
.topcloud{
    position: absolute;
    right: 20%;
    top:10%;
}
.bottomcloud{
    position: absolute;
}
.container{
    height: 200px;
    width: 200px;
    
}
.top{    
    background-color: #E4f9f5;
    position: relative;
    padding-top: 100px;
    }